# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

/bin

# idea ignore
.idea/

# eclipse ignore
.settings/
.project
.classpath
.factorypath
*.iml

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db